.nav-link.active{
    background: #ebecec !important;
}
.nav-link.active *{
    color: black !important;
}

.create-btn-container{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: end;
}

.create-btn-container a{
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background: lightcyan;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}


.table-container{
    padding: 10px;
}

th:nth-child(1){
    width: 10px;
}

th{
    box-shadow: 0 0 5px rgba(0,0,0,.1);
}

.action-container{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.action-container i{
    cursor: pointer;
}

.alert-container{
    width: 100%;
    padding: 10px;
}

th.action-col{
    width: 10%;
}

.btn-back{
    width: min-content;
    padding: 10px 20px;
    background: rgb(41, 176, 221);
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}
.btn-back *{
    color: white;
}